@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/* Description */

.accommodationDescription {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    color: #FF6060;
    margin: 1% 6% 0% 6%;
}

.accommodationDescription h1 {
    margin: 20px 60px 0 0;
}

.accommodationDescription h2 {
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
}

.accommodationRight {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.accommodationProfil {
    display: flex;
    align-items: center;
}

.accommodationProfil img {
    width: 80px;
    height: 80px;
    border-radius: 36px;
    object-fit: cover;
}

.accommodationProfil p {
    font-size: 18px;
    margin: 0 20px 0 20px;
    text-align: right;

}

/* Tag */

.accommodationTag {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.accommodationTag p {
    background: #FF6060;
    color: white;
    border-radius: 40px;
    padding: 5px 25px;
    margin: 0 15px 0 0;
}

/* Star */

.accommodationStar {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.accommodationStar img {
    height: 25px;
}

/* RESPONSIVE */

@media (max-width: 830px) {
    .accommodationDescription {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .accommodationDescription h1 {
        font-size: 25px;
    }

    .accommodationRight {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 2%;
    }

    .accommodationTag {
        margin-bottom: 0;
    }
    
    .accommodationTag p {
        margin: 0 15px 3% 0;
    }

    .accommodationStar {
        margin-left: 0px;
        margin-top: 25px;
    }

    .accommodationStar img {
        margin-right: 15px;
    }
    
}


@media (max-width: 550px) {
    .accommodationDescription {
        margin: 0 10px 15px 10px;
    }
    .accommodationDescription h1 {
        font-size: 17px;
        font-weight: 500;
        margin: 10px 40px 0 0;
        line-height: 25px;
    }

    .accommodationDescription h2 {
        font-weight: 500;
        font-size: 12px;
        margin-top: 5px;
    }
    

    .accommodationProfil img {
        width: 45px;
        height: 45px;
    }
    
    .accommodationProfil p {
        font-size: 13px;
        margin: 0 15px 0 15px;
    }

    .accommodationTag {
        display: flex;
        margin-bottom: 0;
    }

    .accommodationTag p {
        border-radius: 10px;
        font-size: 10px;
        padding: 5px 15px;
        margin: 0 10px 3% 0;
    }

    .accommodationStar {
        margin-left: 0px;
        margin-top: 15px;
    }

    .accommodationStar img {
        height: 15px;
        margin-right: 10px;
    }
}