.banner {
    display: flex;
    justify-content: space-between;
    margin: 2% 5% 2% 5%;
}

.logoKasa {
    width: 210px;
    height: auto;
}

.navBar {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #FF6060;
    font-size: 24px;
}