.cardArea {
    background-color: #F6F6F6;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 25px;
    margin: 2% 6% 0% 6%;
}

.card {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
	position: relative;
}

.card img {
	height: 350px;
	width: 350px;
	border-radius: 20px;
	object-fit: cover;
}

.card p {
    position: absolute;
    bottom: 0;
}
