@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.carrousel {
    margin: 2% 6% 0% 6%;
    position: relative;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.arrowRight {
    position: absolute;
    top: 40%;
    right: 20px;
    height: 80px;
    width: 50px;
    cursor: pointer;
}

.arrowLeft{
    position: absolute;
    top: 40%;
    left: 20px;
    height: 80px;
    width: 50px;
    cursor: pointer;
}

.slide.active {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bulletPoints{
    position: absolute;
    top: 85%;
    left: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: white;
}

/* RESPONSIVE */

@media (max-width: 830px) {
    .carrousel {
        margin: 2% 6% 0% 6%;
        height: 300px;
    }

    .arrowRight {
        right: 20px;
        height: 60px;
        width: 50px;
    }
    
    .arrowLeft{
        left: 20px;
        height: 60px;
        width: 50px;
    }

    .bulletPoints{
        top: 80%;
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    .carrousel {
        margin: 15px 10px 0 10px;
        height: 250px;
    }

    .images {
        border-radius: 10px;
    }

    .arrowRight {
        right: 10px;
        height: 40px;
        width: 40px;
    }
    
    .arrowLeft{
        left: 10px;
        height: 40px;
        width: 40px;
    }

    .bulletPoints{
        top: 80%;
        font-size: 20px;
    }
}